@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: black;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #F7F8FA;
}

.container_element {
    display: flex;

    .sidebar_navbar {
        width: 300px;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(195, 195, 195, 0.262); 
    }

    .section_container {
        width: calc(100% - 300px);
        height: 100dvh;
        left: 300px;
        position: relative;

        .navbar-nav {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .bloque_welcome {
                display: flex;
                flex-direction: column;
                padding-left: 30px;

                .welcome {
                    font-weight: bold;
                    font-size: 20px;
                }

                .welcome_to {
                    font-size: 13px;
                }
            }

            .bloque_bap_image {
                display: flex;
                gap: 20px;
                padding-right: 30px;

                .bloque_notification {
                    width: 50px;
                    height: 50px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    position: relative;

                    .number_notification {
                        width: 20px;
                        height: 20px;
                        background-color: red;
                        border-radius: 50%;
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 12px;
                    }
                }

                .bloque_image {
                    width: 50px;
                    height: 50px;
                    background-color: white;
                    background-image: url('https://media.glamour.mx/photos/61909608a6e030d6480fed0c/master/w_1600%2Cc_limit/186093.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 50%;
                }
            }
        }

        .component_container {
            width: 100%;
            height: calc(100dvh - 100px);

            #component {
                margin: 20px;
                height: calc(100% - 20px);
            }

        }
    }
}